<script id='dash-board' type='text/x-handlebars-template'>
	{{#if path}}
		<div class="row-fluid">
			<div class='col-md-4 col-md-offset-6'>
			<ul class="nav nav-tabs tabList">
			  <li class="active tabHeader"><a data-toggle='tab' href="#currentQuests">Current Quests</a></li>
			  <li class="tabHeader"><a data-toggle='tab' href="#completedQuests">Completed Quests</a></li>
			</ul>
			</div>
		</div>

		  <div id='dailyQuests' class="col-md-5 col-md-offset-1">
		    <div class="listHeading">
		      <h4>Dailies</h4>
		      <button class="btn btn-info btn-xs addDaily">+ Daily
		    </div>
		    <ul class="activityList dailyQuestList list-unstyled"></ul>

		    {{#each preDaily}}
		    	{{#if this.finished}}
					<li class="preDaily list-unstyled finished" data-time={{this.startPreDaily}}>
					<span class='preDailyName'>{{this.preDailyName}}</span>
					</li>
				{{else}}
					<li class="preDaily list-unstyled" data-time={{this.startPreDaily}}>
					<div class="preDailyStatus"></div>
					<span class='preDailyName'>{{this.preDailyName}}</span>
					</li>
				{{/if}}
			{{/each}}
		    {{#each dailies}}
		    	{{#if this.finished}}
					<li class="daily list-unstyled finished" data-time={{this.startDaily}}>
					<span class='dailyName'>{{this.dailyName}}</span>
					<div class="dailyDelete pull-right">&times</div>
					</li>
				{{else}}
					<li class="daily list-unstyled" data-time={{this.startDaily}}>
					<div class="dailyStatus"></div>
					<span class='dailyName'>{{this.dailyName}}</span>
					<div class="dailyDelete pull-right">&times</div>
					</li>
				{{/if}}
			{{/each}}
			
			  </div>

		<div class='tab-content'>
		  <div id='completedQuests' class="col-md-5 tab-pane">
		    <div class="listHeading">
		      <h4>Completed Quests!</h4>
		    </div>
		    <ul class="activityList completedQuestList list-unstyled"></ul>

		    {{#each_upto completedQuests 10}}
				<li class='list-unstyled completedQuest'> {{this}}
				</li>
			{{/each_upto}}
			
		  </div>
		  <div id='currentQuests' class="col-md-5 tab-pane active">
		    <div class="listHeading">
		      <h4>Current Quests</h4>
		      <button class="btn btn-info btn-xs addQuest">+ Quest
		    </div>
		    <ul class="activityList currentQuestList list-unstyled"></ul>

		    {{#each currentQuests}}
				<li class="quest list-unstyled">
					<div class="questStatus"></div>
					<span class='questName'>{{this.questName}}</span>
					<div class="questDelete pull-right">&times</div>
					<div class='questTimer pull-right text-info' data-time={{this.startQuest}}></div>

				</li>
			{{/each}}

			  </div>


	{{else}}
		<div id="pathChooser">
		  <div class="row-fluid container">
		    <div class="choosePathHeader col-xs-6">
		      <h3>Choose your destiny . . .</h3>
		    </div>
		  </div>
		  <div class="row-fluid container">
		    <div data-path="Exercise" class="choosePath col-md-2 col-xs-7 exercise">
		      <p class="pathDesc">Exercise</p>
		    </div>
		    <div data-path="Learning" class="choosePath col-md-2 col-xs-7 learning">
		      <p class="pathDesc">Learning</p>
		    </div>
		    <div data-path="Healthy Eating" class="choosePath col-md-2 col-xs-7 eating">
		      <p class="pathDesc">Healthy Eating</p>
		    </div>
		    <div data-path="Organization" class="choosePath col-md-2 col-xs-7 organize">
		      <p class="pathDesc">Organization</p>
		    </div>
		    <div data-path="Finance" class="choosePath col-md-2 col-xs-7 finance">
		      <div class="pathDesc">Finance</div>
		    </div>
		  </div>
		</div>


	{{/if}}

</script>

<script id='hp-stats' type='text/x-handlebars-template'>
	<div class='charSpan progress-label'> {{currentHealth}} / {{health}}  HP </div>
</script>

<script id='xp-stats' type='text/x-handlebars-template'>
	<div class='charSpan progress-label'>{{experience}} / {{maxExperience}}  XP </div>
</script>

<script id='char-level' type='text/x-handlebars-template'>
	<p> Level </p>
	<p class='currentLevel'> {{level}}</p>
</script>

<script id='path-chosen' type='text/x-handlebars-template'>
	<h4 class='col-sm-5'> Your path : {{path}} </h4>
</script>

