extends common/header
block dash
	.row-fluid.container
		.col-xs-4.healthBar HP
		.col-xs-4.manaBar MP
		br
		br
		.col-xs-9.offset-2.expBar XP



	.row-fluid.container
		h3.col-xs-10.offset-2 The story so far...
	hr
	.row-fluid.container
		.completedTasks.col-xs-3
			.listHeading
				h4 Completed Quests!
			ul.activityList.completedQuests
				//- include dashTemplate.html <- need to add handlebars
				li first task
					.taskDescription
						p This is what you did!
					.taskStatus
		.currentTasks.col-xs-3
			.listHeading
				h4 Current Quests
			ul.activityList.currentQuests
		.gameTasks.col-xs-3
			.listHeading
				h4 Game Achievements
			ul.activityList.gameAch







	include common/footer