<script id='dash-board' type='text/x-handlebars-template'>
	{{#if path}}
		<div class="row-fluid">
			<ul class="nav nav-tabs tabList">
			  <li class="active"><a data-toggle='tab' href="#currentQuests">Current Quests</a></li>
			  <li><a data-toggle='tab' href="#completedQuests">Completed Quests</a></li>
			</ul>

		<div class='tab-content'>
		  <div id='completedQuests' class="col-xs-3 tab-pane">
		    <div class="listHeading">
		      <h4>Completed Quests!</h4>
		    </div>
		    <ul class="activityList completedQuestList list-unstyled"></ul>

		    {{#each completedQuests}}
				<li class='list-unstyled completedQuest'> {{this}}
					<div class="taskStatus"></div>
				</li>
			{{/each}}
			
		  </div>
		  <div id='currentQuests' class="col-xs-3 tab-pane active">
		    <div class="listHeading">
		      <h4>Current Quests</h4>
		      <button class="btn btn-info btn-sm addQuest">+ Quest
		    </div>
		    <ul class="activityList currentQuestList list-unstyled"></ul>

		    {{#each currentQuests}}
				<li class="quest list-unstyled">
					<span class='questName'>{{this.questName}}</span>
					<div class="taskStatus"></div>
					<span class='questTimer pull-right text-muted'>{{this.startQuest}}</span>
				</li>
			{{/each}}

			  </div>
			
		  </div>

		  <div id='dailyQuests' class="col-xs-3">
		    <div class="listHeading">
		      <h4>Dailies</h4>
		      <button class="btn btn-info btn-sm addDaily">+ Daily
		    </div>
		    <ul class="activityList dailyQuestList list-unstyled"></ul>

		    {{#each dailies}}
				<li class="daily">
				<span class='dailyName'>{{this}}</span>
					<div class="taskStatus"></div>
				</li>
			{{/each}}

			  </div>
		
		  <div id='gameQuests' class="col-xs-3">
		    <div class="listHeading">
		      <h4>Game Achievements</h4>
		    </div>
		    <ul class="activityList gameQuestList"></ul>
		  </div>
		</div>


	{{else}}
		<div id="pathChooser">
		  <div class="row-fluid container">
		    <div class="choosePathHeader col-xs-6">
		      <h3>Choose your path</h3>
		    </div>
		  </div>
		  <div class="row-fluid container">
		    <div data-path="Exercise" class="choosePath col-md-2 col-xs-7 exercise">
		      <p class="pathDesc">Exercise</p>
		    </div>
		    <div data-path="Learning" class="choosePath col-md-2 col-xs-7 learning">
		      <p class="pathDesc">Learning</p>
		    </div>
		    <div data-path="Healthy Eating" class="choosePath col-md-2 col-xs-7 eating">
		      <p class="pathDesc">Healthy Eating</p>
		    </div>
		    <div data-path="Organization" class="choosePath col-md-2 col-xs-7 organize">
		      <p class="pathDesc">Organization</p>
		    </div>
		    <div data-path="Finance" class="choosePath col-md-2 col-xs-7 finance">
		      <div class="pathDesc">Finance</div>
		    </div>
		  </div>
		</div>


	{{/if}}

</script>
<script id='char-stats' type='text/x-handlebars-template'>
			<div class="col-xs-4 healthBar"> {{currentHealth}} / {{health}} HP </div>
			<div class="col-xs-4 manaBar"> {{currentMana}} / {{mana}} MP </div>
			<br>
			<br>
			<div class="col-xs-9 offset-2 expBar"> {{experience}} XP </div>	
			<br>
		<hr>

</script>

<script id='path-chosen' type='text/x-handlebars-template'>
	<h4 class='col-xs-5 pull-right'> Your path : {{path}} </h4>
</script>
<!--<script id='game-achievements' type='text/x-handlebars-template'>

	{{#each tasks}}

	
	{{/each}}

</script> -->
