extends common/header
block dash

	#charStats.row-fluid.container

	.row-fluid.container
		h3.col-xs-5.offset-2 The story so far...
		#currentPath 

	hr

	#dashBoard


	include common/footer
	script(src='/javascripts/lib/dash.js')
	include dashTemplate.html