extends common/header

block content
	.row-fluid.container
		h1.mainLogo.col-xs-10.offset-2 RogueLife
	
	.row-fluid.container
		.mainDescription.col-xs-8.col-s-6.offset-4
			h2 SendGrid!

	.splashImage


	include common/footer