extends common/header

block login

	form.signIn.container(role='form')
		h2 Log In to RogueLife!
		a.pull-right(data-toggle="modal", href="#signUpModal") Not a member yet?
		.form-group
				label.col-2.control-label(for='inputUserName1') Username
				.col-4
					input#inputUserName1.form-control(type='text', name='username', placeholder='Username', required)
			.form-group
				label.col-2.control-label(for='inputPassword1') Password
				.col-4
					input#inputPassword1.form-control(type='password', name='password', placeholder='Password', required)
			.form-group
				.col-offset-2.col-10
					button.btn.btn-info.pull-right.signInButton(type='submit') Sign in
	#error.container Incorrect Username/Password

	#signUpModal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Sign Up
				.modal-body
					form.signUp
						.form-group
							label.col-2.control-label(for='inputEmail2') Email
							.col-4
								input#inputEmail2.form-control(type='email', name='email', placeholder='Email', required)
						.form-group
							label.col-2.control-label(for='inputUserName2') Username
							.col-4
								input#inputUserName2.form-control(type='text', name='username', placeholder='Username', required)
						.form-group
							label.col-2.control-label(for='inputPassword2') Password
							.col-4
								input#inputPassword2.form-control(type='password', name='password', placeholder='Password', required)
						button.btn.btn-info.pull-right.signUpButton(type='submit') Sign Up
				.modal-footer
					a(href='/auth/steam')
						.steamSignIn.pull-left

	



	include common/footer