block footer
	#footer.navbar.navbar-fixed-bottom.navbar-default.footer
		.footerCopy Copyright © RogueLife #{new Date().getFullYear()}
		a(href='/page?name=about') About
		|	| 
		a(href='/page?name=contact') Contact Us
		
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
	script(src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/hallo.js/1.0.2/hallo.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js')	
	script(src="/socket.io/socket.io.js")
	script(src='/javascripts/lib/main.js')	