doctype 5
html
	head
		title= title
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
		link(href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/lib/animate.css')
		link(rel='stylesheet', href='/stylesheets/lib/style.css')

	body
			#header.nav.navbar.navbar-default.navbar-static-top(role='navigation')
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') RogueLife
				-if(typeof userCharacter == 'undefined')
					.loginStatus.pull-right
						.signLogUp
							a(href="/login") Login / Sign Up

				-else
					.loginStatus.pull-right
						// place user avatar img here
						span Welcome, #{userCharacter.username}!
						br
						a(href="/logout") Logout
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						li
							-if(typeof userCharacter == 'undefined')
								a(href='/login') My Character
							-else
								a(href='/users/#{userCharacter._id}') My Character
						li
							a(href='#') Link
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Dropdown
								b.caret
							ul.dropdown-menu.navarDropdown
								li
									a(href='#') Action
								li
									a(href='#') Another action
								li
									a(href='#') Something else here
								li
									a(href='#') Separated link
								li
									a(href='#') One more separated link

		block content
		block login
		block dash