// Functions
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
    background-color startColor
    background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
border-radius()
    vendor('border-radius', arguments)
background-image()
    vendor('background-image', arguments)
transition()
    vendor('transition', arguments)
transform()
    vendor('transform', arguments)
backgroundImage(link)
	position absolute
	top 0
	left 0
	z-index -1
	background-image url(link)
	background-repeat no-repeat
	background-position center
	background-size cover
	width 100%
	height 100%

// Fonts
@font-face 
	font-family: 'megapixelregular';
	src: url('/stylesheets/fonts/megapix/megapix-webfont.eot');
	src: url('/stylesheets/fonts/megapix/megapix-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/stylesheets/fonts/megapix/megapix-webfont.woff') format('woff'),
	     url('/stylesheets/fonts/megapix/megapix-webfont.ttf') format('truetype'),
	     url('/stylesheets/fonts/megapix/megapix-webfont.svg#megapixelregular') format('svg');
	font-weight: normal;
	font-style: normal;
@font-face 
	font-family: 'dragonslapperregular';
	src: url('/stylesheets/fonts/dragon/dragonslapper-webfont.eot');
	src: url('/stylesheets/fonts/dragon/dragonslapper-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/stylesheets/fonts/dragon/dragonslapper-webfont.woff') format('woff'),
	     url('/stylesheets/fonts/dragon/dragonslapper-webfont.ttf') format('truetype'),
	     url('/stylesheets/fonts/dragon/dragonslapper-webfont.svg#dragonslapperelregular') format('svg');
	font-weight: normal;
	font-style: normal;


// Styling
body
	font 14px "Cambria", Helvetica, Arial, sans-serif
	padding-bottom 100px
.navbar
	padding 5px 5px 0px 0px
#footer
	position fixed
	height 60px
	margin-left 0px
	margin-right 0px
	background-color: #ADAC90;
#header
	background-color #90ADAC
.navbar-toggle
	background-color rgba(50,50,50,.5)
.googleSignIn
	background url('/images/googleSignOn.png')
	width 185px 
	height 41px
	display inline-block
	cursor pointer
.signIn
	min-width 50%
	max-width 70%
	background-color rgba(255,255,255,.7)
	border-radius 5px
	padding 10px
.signLogUp
	padding 5px
	position relative
	width auto
	height auto
	background-color #90ADAC
	border thin solid gainsboro
	border-radius 2px
.signUp a
	color #333
#inputEmail1, #inputPassword1, #inputUserName1
	height 50px
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
	background-color rgba(50,50,50,.5)
	transition all 0.2s ease-in-out
.mainLogo
	font-family megapixelregular
	font-size 8em
	color white
.mainDescription
	color white
.navbar-brand
	font-family megapixelregular
	font-size 2em
.charSpan
	color black
	text-shadow 0px 0px 10px grey
.signUpButton
	position relative
	top 55px
#completedQuests, #currentQuests, #gameQuests, #dailyQuests
	border thick gray inset
	margin-right 4%
	margin-left 1%
.tabList
	display inline-block
	margin-bottom -5px
.healthBar, .expBar
	box-sizing border-box
	border solid gray
	height 30px
	font-family serif
	transition all 0.5s ease-in-out

.ui-progressbar-value
	position relative
	transition all 0.8s ease-in-out
	box-shadow 0 0 20px black
.progress-label
	z-index 1100
	position absolute
	top 4px
	right -1%
.choosePath
	background-color wheat
	border-radius(5px)
	height 200px
	margin 1.6%
	box-shadow 0px 3px 10px black
	transition all 0.3s ease-in-out
	border outset
.choosePath:hover
	transition all 0.3s ease-in-out
	box-shadow 0px 15px 40px black
	cursor pointer
.choosePathHeader
	text-align center
.pathDesc
	position relative
	top 70%
	text-align center
	font-family megapixelregular
	font-size 2.5em
#error
	display none
	position relative
	bottom 30px
	color red
.addQuest, .addDaily
	position absolute
	right 5px
	top 5px
	height auto
	width auto
.splashImage
	backgroundImage('/images/animatedforest.gif')
.quest, .daily, .completedQuest
	display block
	padding 5px
	overflow hidden
	border-bottom thin solid gainsboro
	text-overflow ellipsis
	white-space nowrap
.quest:hover, .daily:hover, .completedQuest:hover
	background-color rgba(150,150,150, .2)
.questStatus, .dailyStatus
	display inline-block
	width 10px
	height 10px
	background-color green
.questTimer
	display inline-block
	position relative
	right 0px
.loginImage
	backgroundImage('/images/animatedlake.gif')
.dashImage
	backgroundImage('/images/dashbg.png')
.bar
	padding 0px
	margin-right 3%
	height 25px
.levelIndicator
	border thin solid gainsboro
	margin-right 5px
	text-align center
	font-family serif
	background-color wheat
.levelIndicator p
	margin-top 1px
	margin-bottom 1px
.currentLevel
	font-family serif
	font-size 3em
	text-align center
.charAvatar
	background-color red
	margin-right 20px
	height 10px
.questDelete, .dailyDelete
	margin-right -3px
	color white
	margin-left 5px
	text-align center
	vertical-align super
	display inline-block
	width 1em
	height 1.2em
	border-radius 5px
	background-color red
	transition all 0.2s ease-in-out
.questDelete:hover, .dailyDelete:hover
	cursor pointer
	transition all 0.2s ease-in-out
	color black
	background-color brown
#levelUp
	display none
	left 30%
	position absolute
	width 30%
	height 100px
	background-color gainsboro
	border double
	z-index 1
	transition all 2s ease-in-out
.levelUpText
	text-align center
#death
	z-index 5200
	position absolute
	display none
	width 100%
	height 100%
	background-color rgba(0,0,0,.7)
.deathTextArea
	background-color white
	position relative
	top 20%
	width 60%
	height auto
	padding 20px
	text-align center
	font-size 1.2em
.deathText
	color #AA1A1A
	font-family dragonslapperregular
	font-size 5em
	padding 10px 10px 100px 10px
.closeButton
	float right
	text-align center
	background-color darkslategrey
	padding 10px 20px 10px 20px
	border-radius 6px
	margin 2px
	cursor pointer
.closeButton:hover
	background-color rgba(47,79,79, 0.8)
.closeButton a
	color white
.finished
	text-decoration line-through

@media only screen and (min-width : 320px) and (max-width : 768px)

	.bar
		clear both






