// Functions
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
    background-color startColor
    background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
border-radius()
    vendor('border-radius', arguments)
background-image()
    vendor('background-image', arguments)
transition()
    vendor('transition', arguments)
transform()
    vendor('transform', arguments)
backgroundImage(link)
	position absolute
	top 0
	left 0
	z-index -1
	background-image url(link)
	background-repeat no-repeat
	background-position center
	background-size cover
	width 100%
	height 100%

body
	font 14px "Cambria", Helvetica, Arial, sans-serif
	padding-bottom 200px
.navbar
	padding 5px 5px 0px 0px
#footer
	position fixed
	margin-left 0px
	margin-right 0px
	background-color: #ADAC90;
#header
	background-color #90ADAC
.navbar-toggle
	background-color rgba(50,50,50,.5)
.googleSignIn
	background url('/images/googleSignOn.png')
	width 185px 
	height 41px
	display inline-block
	cursor pointer
.signIn
	min-width 50%
	max-width 70%
	background-color rgba(255,255,255,.7)
	border-radius 5px
	padding 10px
.signLogUp
	padding 5px
	position relative
	width auto
	height auto
	background-color #90ADAC
	border thin solid gainsboro
	border-radius 2px
.signUp a
	color #333
#inputEmail1, #inputPassword1, #inputUserName1
	height 50px
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
	background-color rgba(50,50,50,.5)
	-webkit-transition all 0.2s ease-in-out
.mainLogo
	font-family megapixelregular
	font-size 8em
	color white
.mainDescription
	color white
.navbar-brand
	font-family megapixelregular
	font-size 2em
@font-face 
	font-family: 'megapixelregular';
	src: url('/stylesheets/fonts/megapix-webfont.eot');
	src: url('/stylesheets/fonts/megapix-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/stylesheets/fonts/megapix-webfont.woff') format('woff'),
	     url('/stylesheets/fonts/megapix-webfont.ttf') format('truetype'),
	     url('/stylesheets/fonts/megapix-webfont.svg#megapixelregular') format('svg');
	font-weight: normal;
	font-style: normal;
.signUpButton
	position relative
	top 55px
#completedQuests, #currentQuests, #gameQuests, #dailyQuests
	border thick gray inset
	margin-right 4%
	margin-left 1%
.tabList
	display inline-block
	margin-bottom -5px
.healthBar, .manaBar, .expBar
	box-sizing border-box
	border solid gray
	height 25px
	color white
	font-family serif
.healthBar
	// background-color #F13939
	margin-right 8.20%
.manaBar
	// background-color #2929CC
.expBar
	color black
	// background-color #660066
.choosePath
	background-color wheat
	border-radius(5px)
	height 200px
	margin 1.6%
	box-shadow 0px 3px 10px black
	transition all 0.3s ease-in-out
	border outset
.choosePath:hover
	transition all 0.3s ease-in-out
	box-shadow 0px 15px 40px black
	cursor pointer
.choosePathHeader
	text-align center
.pathDesc
	position relative
	top 70%
	text-align center
	font-family megapixelregular
	font-size 2.5em
#error
	display none
	position relative
	bottom 30px
	color red
.addQuest, .addDaily
	position absolute
	right 5px
	top 5px
	height auto
	width auto
.splashImage
	backgroundImage('/images/animatedforest.gif')
.quest, .daily, .completedQuest
	display block
	padding 5px
	overflow hidden
	border-bottom thin solid gainsboro
	text-overflow ellipsis
	white-space nowrap
.quest:hover, .daily:hover, .completedQuest:hover
	background-color rgba(150,150,150, .2)
.questStatus, .dailyStatus
	display inline-block
	width 10px
	height 10px
	background-color red
.questTimer
	display inline-block
	position relative
	right 0px
.loginImage
	backgroundImage('/images/animatedlake.gif')
.dashImage
	backgroundImage('/images/dashbg.png')
.bar
	padding 0px
	margin-right 3%
	height 25px
.levelIndicator
	border thin solid gainsboro
	margin-right 5px
	text-align center
	font-family serif
.levelIndicator p
	margin-top 1px
	margin-bottom 1px
.currentLevel
	font-family serif
	font-size 3em
	text-align center
.charAvatar
	background-color red
	margin-right 20px
	height 10px
.charSpan
	position relative
	top 5px
	left -2%
	vertical-align sub



